<div class="parallax-container">
    <div class="parallax"><img src="{{article.parallax}}"></div>
</div>
<div class="section container lime lighten-5">
    <div class="card lime lighten-3">
        <div class="card-content">
            <div class="card-title">
                <h2><a class="green-text text-darken-4" href="{{SITEURL}}/{{article.url}}">{{article.title}}</a></h2>
            </div>
            <p class="grey-text text-darken-3 lighten-3">{{article.summary}}</p>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="col s12 m6">
                    <a href="{{SITEURL}}/{{article.url}}" class="green-text text-darken-5"><i
                            class="small material-icons left">remove_red_eye</i>Read more</a>
                </div>
                <div class="col s12 m6 right">
                    <i class="small material-icons left green-text text-darken-5">local_offer</i>
                    {% for tag in article.tags %}
                    <a href="{{SITEURL}}/{{tag.url}}" class="green-text text-darken-5">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
